input[required]:invalid,
select[required]:invalid {
    border: 1px solid red;
}

select[required]:invalid {
    font-style: italic;
}
select[required] option {
    font-style: normal;
}
select[required] option[value=""] {
    font-style: italic;
}
select[required] optgroup {
    font-style: normal;
}

.table-subhead {
    font-style: italic;
    font-weight: normal;
}

#output {
    border: 1px solid lightgrey;
    padding: 1rem;
    text-wrap: nowrap;
    overflow: scroll;
}